<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD operation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>User Management</h1>
        <div class="add-user">
            <a href="{{ url_for('addUser') }}" class="icon-button">➕ Add User</a>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.Username }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.city }}</td>
                <td><a href="{{ url_for('UpdateUser', id=data.id) }}" class="icon-button edit-button">Edit</a></td>
                <td><a href="{{ url_for('deleteUser', id=data.id) }}" onclick="return confirm('Are you sure you want to delete this user?');" class="icon-button delete-button">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
